<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <input type="text" name="title" placeholder="title">
        <textarea name="content" placeholder="content"></textarea>
        <button type="submit">Create</button>
    </form>

    {% for res in  result %}
        <p>{{ res.content }}</p>
    {% endfor %}
</body>
</html>